# Java
*.class
*.jar
*.war
*.ear
target/

# Maven
.mvn/wrapper/maven-wrapper.jar

# IDEs
.idea/
*.iml
.vscode/

# Node.js
node_modules/
npm-debug.log*

# Angular
dist/
.angular/

# System
.DS_Store
Thumbs.db

# Logs
*.log