<div class="sidebar">
  <div class="sidebar-header">
    <h2>Controle Financeiro</h2>
  </div>
  
  <div class="user-info" *ngIf="usuario">
    <div class="user-details">
      <p class="user-name">{{ usuario.nome }}</p>
      <p class="user-email">{{ usuario.email }}</p>
    </div>
  </div>
  
  <nav class="sidebar-nav">
    <ul>
      <li *ngFor="let item of menuItems">
        <div class="menu-item">
          <a 
            (click)="toggleSubmenu(item)" 
            [class.active]="item.route && router.url === item.route"
            [class.has-submenu]="item.hasSubmenu"
            class="menu-link">
            <span class="material-icons">{{ item.icon }}</span>
            <span class="nav-text">{{ item.label }}</span>
            <span *ngIf="item.hasSubmenu" class="material-icons submenu-arrow" 
                  [class.expanded]="item.showSubmenu">expand_more</span>
          </a>
          
          <!-- Submenu -->
          <ul *ngIf="item.hasSubmenu && item.showSubmenu" class="submenu">
            <li *ngFor="let subItem of item.submenuItems">
              <a (click)="navigateToSubmenuItem(subItem.route!)" 
                 [class.active]="router.url === subItem.route"
                 class="submenu-link">
                <span class="material-icons">{{ subItem.icon }}</span>
                <span class="nav-text">{{ subItem.label }}</span>
              </a>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </nav>
  
  <div class="sidebar-footer">
    <button class="logout-btn" (click)="logout()">
      <span class="material-icons">exit_to_app</span>
      <span>Sair</span>
    </button>
  </div>
</div>